.container{
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}
.header{
  padding: 28px 20px;

  &__menu{
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
}
.footer{
  max-height: 352px;
  max-width: 940px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 103px auto 48px auto;
}