@media screen and (max-widrh:800px) {
  .hero{
    &__content{
      max-width: 500px;
      margin: 0 auto;
    }
  }
  .heading{
    --h1{
      font-size: 36px;
    }
  }
}
@media screen and (max-width:375px) {
  .heading{
    --h1{
      font-size: 28px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .menu__list {
      position:fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color:#ffff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .menu__list.active {
      left: 0;
  }

  .menu__item {
      margin: 1.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width:1440px) {
  .hero{
    background: url(../img/hero2.png) no-repeat center/cover; 
  }
  
}
@media screen and (min-width:2560px) {
  .hero{
    background: url(../img/hero3.png) no-repeat center/cover; 
  }
  
}